.makeStyles-paper-1 {
    box-shadow: 0px 6px 20px #00000029;
    padding-bottom: 16px !important;
}
.addon-header{
    text-align: center;
    padding-bottom: 22px;
    position: relative;
}
.addon-header::after{
    content: '';
    position: absolute;
    width: 114%;
    height: 1px;
    bottom: 0;
    left: -32px;
    background-color: $supirb_light-gray_color;
}
.addon-body{
    line-height: 50px;   
}
.addon-btn{
    font-weight: 500;
    padding-top: 10px;
}

@media (max-width: 767.98px) { 
    .makeStyles-paper-1{
        width: 90% !important;
        left: 51% !important;
        // top: 10%;
    }
    
    }