// .cutomer-recep {
//   font-size: 16px;
//   font-weight: 500;
//   border-radius: 20px;
//   background: $supirb_bg_color;
//   box-shadow: 0px 15px 60px $supirb_10black_color;
//   padding-bottom: 40px;
// }

// .order-summary .table tbody .recpient-addon {
//   color: $supirb_20black_color;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// .customer-dtl {
//   padding: 22px 62px;
//   background: $supirb_header-bg_color;
//   border-radius: 20px 20px 0px 0px;
//   display: flex;
// }

// .date-time {
//   display: flex;
//   flex-direction: column;
//   max-width: 134px;
//   padding: 18px;
//   background: $supirb_2black_color;
//   border-radius: 8px;
//   color: $supirb_orange_color;
// }

// .date-time label:last-child {
//   color: $supirb_white_color;
//   font-weight: 400;
// }

// .personal-dtl {
//   padding-left: 25px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   font-size: 14px;
// }

// .personal-dtl label:last-child {
//   color: $supirb_orange_color;
// }

// .personal-dtl label:first-child {
//   font-size: 20px;
// }

// .personal-dtl label small {
//   color: $supirb_blue_color;
// }

// .order-summary {
//   padding: 30px 62px 40px;
//   background-color: $supirb_white_color;
// }

// .order-summary thead {
//   background: $supirb__20pink_color;
//   border-radius: 10px;
//   line-height: 36px;
// }

// .order-summary small {
//   font-size: 12px;
//   text-transform: uppercase;
//   background-color: $supirb_rate_bordr_color;
//   border-radius: 4px;
//   width: 110px;
//   display: block;
//   line-height: 36px;
//   text-align: center;
//   border-radius: 4px;
// }

// .order-summary .table tbody tr {
//   border-bottom: 1px solid $supirb_rate_bordr_color;
// }

// .order-summary .table tbody tr:nth-child(2) td:nth-child(2) span:first-child {
//   color: $supirb_20black_color;
//   padding-top: 10px;
//   padding-left: 10px;
// }

// .order-summary .table tbody tr td span {
//   padding-top: 10px;
// }

// .summary-inst {
//   width: 50%;
// }

// .summary-inst textarea {
//   width: 90%;
//   padding: 15px;
//   font-size: 14px;
//   font-weight: 400;
//   background: $supirb_40black_color;
//   border: 1px dashed #dfdfdf;
//   border-radius: 6px;
//   resize: none;
//   margin-top: 10px;
// }

// .total-bill table {
//   margin-top: 10px;
// }

// .total-bill table td {
//   padding: 15px 25px;
// }

// .total-bill table tr:nth-child(3) {
//   color: $supirb__btn_cancel_color;
// }

// .cutomer-recep .done-btn {
//   box-shadow: none;
// }

// @media (max-width: 767.98px) {
//   .cutomer-recep {
//     width: 90%;
//     margin: 0 auto;
//     font-size: 12px;
//   }

//   .personal-dtl {
//     font-size: 12px;
//   }

//   .personal-dtl {
//     padding-left: 15px;
//   }

//   .personal-dtl label small {
//     font-size: 10px;
//   }

//   .personal-dtl label:first-child {
//     font-size: 12px;
//   }

//   .date-time label:first-child {
//     font-size: 15px;
//   }

//   .date-time label:last-child {
//     font-size: 12px;
//   }

//   .customer-dtl {
//     padding: 15px;
//   }

//   .order-summary {
//     padding: 15px;
//   }

//   .slide-in {
//     padding: 40px;
//   }

//   .order-summary table {
//     margin-bottom: 0;
//   }

//   .order-summary table thead th:first-child {
//     display: none;
//   }

//   .order-summary table tbody td:first-child {
//     display: none;
//   }

//   .order-summary table thead th:nth-child(2) {
//     width: 60%;
//   }

//   .flex-sm-column-reverse {
//     flex-direction: column-reverse;
//   }

//   .total-bill table td:first-child {
//     display: none;
//   }

//   .total-bill table {
//     margin-top: 0;
//     width: 100%;
//   }

//   .total-bill table td {
//     padding-bottom: 0;
//   }

//   .total-bill table td:nth-child(2) {
//     padding-left: 0;
//   }

//   .total-bill table td:last-child {
//     padding-right: 15px;
//     text-align: right;
//   }

//   .summary-inst {
//     width: 100%;
//     margin-top: 10px;
//   }

//   .summary-inst textarea {
//     width: 100%;
//   }

//   // .cutomer-recep .cancel-btn {
//   //   display: none;
//   // }
//   .cutomer-recep .done-btn {
//     // display: none;
//     margin-right: 20px;
//   }

//   .summary-inst label {
//     display: none;
//   }

//   Not added that line
// .order-summary .table tbody tr:nth-child(2) td:nth-child(2) span:first-child {
//     color: $supirb_2black_color;
//     background-color:$supirb_40black_color;
// }

.cutomer-recep {
  font-size: 16px;
  font-weight: 500;
  border-radius: 20px;
  background: $supirb_bg_color;
  box-shadow: 0px 15px 60px $supirb_10black_color;
  padding-bottom: 40px;
}

.customer-dtl {
  padding: 22px 62px;
  background: $supirb_header-bg_color;
  border-radius: 20px 20px 0px 0px;
  display: flex;
}

.date-time {
  display: flex;
  flex-direction: column;
  max-width: 134px;
  padding: 18px;
  background: $supirb_2black_color;
  border-radius: 8px;
  color: $supirb_orange_color;
}

.date-time label:last-child {
  color: $supirb_white_color;
  font-weight: 400;
}

.personal-dtl {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

.personal-dtl label:last-child {
  color: $supirb_orange_color;
}

.personal-dtl label:first-child {
  font-size: 20px;
}

.personal-dtl label small {
  color: $supirb_blue_color;
}

.order-summary {
  padding: 30px 62px 40px;
  background-color: $supirb_white_color;
}

.order-summary thead {
  background: $supirb__20pink_color;
  border-radius: 10px;
  line-height: 36px;
}

.order-summary small {
  font-size: 12px;
  text-transform: uppercase;
  background-color: $supirb_rate_bordr_color;
  border-radius: 4px;
  width: 110px;
  display: block;
  line-height: 36px;
  text-align: center;
  border-radius: 4px;
}

.order-summary .table tbody tr {
  border-bottom: 1px solid $supirb_rate_bordr_color;
}

.order-summary .table tbody .recpient-addon {
  color: $supirb_20black_color;
  padding-top: 10px;
  padding-left: 10px;
}

.order-summary .table tbody .recpient-addon img {
  margin-left: 50px;
}

.order-summary .table tbody tr td span {
  padding-top: 10px;
}

.coupon-box {
  width: 40%;
  .coupon-area {
    width: 90%;
    background: $supirb_40black_color;
    // border: 1px dashed #dfdfdf;
    border-radius: 6px;
    .image-coupon {
      text-align: center;
      img {
        margin: 20px;
      }
    }
    .lower-section {
      padding: 20px;
      display: flex;
      justify-content: center;
      .coupon-btn {
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        font-size: 0.9rem;
      }
    }
  }
  .coupon-area-filled {
    width: 90%;
    background: transparent
      linear-gradient(99deg, #f3790b 0%, #faa458 39%, #ffbb7e 100%) 0% 0%
      no-repeat padding-box;
    border-radius: 6px;
    color: #fff;
    .header-sec {
      display: flex;
      justify-content: space-between;
      padding: 10px;
    }
    .body-sec {
      display: flex;
      justify-content: space-between;
      .body-right {
        font-size: 35px;
        padding-right: 5px;
      }
    }
    hr {
      border-top: 2px dashed #fff;
      width: 90%;
      margin: 10px auto;
    }
    .bottom-sec {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 10px;
      .coupon-remove-btn {
        background-color: #fff;
        border-radius: 5px;
        font-size: 0.9rem;
        color: #f3790b;
      }
    }
  }
}

.special-inst {
  width: 100%;
}
.special-inst textarea {
  width: 100%;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
  background: $supirb_40black_color;
  border: 1px dashed #dfdfdf;
  border-radius: 6px;
  resize: none;
  margin-top: 10px;
}

.total-bill table {
  margin-top: 10px;
}

.total-bill table td {
  padding: 15px 25px;
}

.total-bill table tr:nth-child(3) {
  color: $supirb__btn_cancel_color;
}

.cutomer-recep .done-btn {
  box-shadow: none;
}
.total-bill .input-signing {
  margin-top: 0px;
}

@media (max-width: 767.98px) {
  .cutomer-recep {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
  }

  .personal-dtl {
    font-size: 12px;
  }

  .personal-dtl {
    padding-left: 15px;
  }

  .personal-dtl label small {
    font-size: 10px;
  }

  .personal-dtl label:first-child {
    font-size: 12px;
  }

  .date-time label:first-child {
    font-size: 15px;
  }

  .date-time label:last-child {
    font-size: 12px;
  }

  .customer-dtl {
    padding: 15px;
  }

  .order-summary {
    padding: 15px;
  }

  .order-summary table {
    margin-bottom: 0;
  }

  .order-summary table thead th:first-child {
    display: none;
  }

  .order-summary table tbody td:first-child {
    display: none;
  }

  .order-summary table thead th:nth-child(2) {
    width: 60%;
  }

  .flex-sm-column-reverse {
    flex-direction: column-reverse;
  }

  .total-bill table td:first-child {
    display: none;
  }

  .total-bill table {
    margin-top: 0;
    width: 100%;
  }

  .total-bill table td {
    padding-bottom: 0;
  }

  .total-bill table td:nth-child(2) {
    padding-left: 0;
  }

  .total-bill table td:last-child {
    padding-right: 15px;
    text-align: right;
  }

  .coupon-box {
    label {
      display: none;
    }
    width: 100%;
    .coupon-area {
      width: 100%;
    }
  }

  .special-inst {
    width: 100%;
    margin-top: 10px;
  }

  .special-inst textarea {
    width: 100%;
  }

  .cutomer-recep .cancel-btn {
    display: none;
  }

  .cutomer-recep .done-btn {
    display: none;
  }

  .special-inst label {
    display: none;
  }
  .total-bill .done-btn {
    display: block !important;
  }
}
