.empty-cart-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    flex-direction: column;
    border-top: 1px solid $supirb_light-gray_color;
    text-align: center;
}
.empty-cart-body label{
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.empty-cart-body small{
    color: $supirb_20black_color;
}