.forget-password .pin-verf .new-pass-label {
  margin-bottom: 50px;
}

.forget-password .pin-verf .form-control {
  max-width: 240px;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  padding-left: 20px;
  min-height: 40px;
  // margin-bottom: 50px;
}

.forget-password .remember-wrapper {
  justify-content: space-between;
  // justify-content: flex-end;
  // padding-right: 25px;
  // margin-bottom: 25px;
}

.forget-password .pin-verf small {
  margin-bottom: 60px;
}

.forget-password .pin-verf form {
  margin-bottom: 0;
  height: 290px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.forget-password .pin-verf .new-password input:first-child {
  margin-bottom: 10px;
}

.forget-password .remember-wrapper .back-button img {
  transform: rotate(180deg);
}

.back-button {
  display: flex;
  flex-direction: column;
}

.remember-wrapper button {
  max-height: 42px;
}

.new-password .remember-wrapper {
  justify-content: flex-end;
}
