.guest-user-signup .sign-in-box{
    padding: 30px 0;
}
.guest-user-signup button{
    margin-top: 10px;
}
.guest-user-signup label{
    font-size: 20px;
    margin-bottom: 15px;
}
.guest-user-signup .logo{
    margin-bottom: 30px;
}